name: Weekly Postgres Build

# Trigger the build on a schedule
on:
  schedule:
    # "At 04:00 on Sunday." (Cron syntax: Minute Hour DayMonth Month DayWeek)
    - cron: '0 4 * * 0'
  # Allow you to manually trigger it from the GitHub UI if needed
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Pulls the latest base image (postgres:17-bookworm) every time
          pull: true 
          # Disables cache to ensure we get the absolute latest 'apt-get' packages
          no-cache: true
          tags: dedshotvk/pg-17-pgbackrest:latest
